*.o
bofh.js
bofh.wasm
bofh.data
bofh.html
bofh.js.*
bofhedit.js
bofhedit.wasm
bofhedit.html
bmeplay.js
bmeplay.wasm
dat2inc.js
dat2inc.wasm
datafile.js
datafile.wasm
bmeconv.js
bmeconv.wasm
*.a
*.so.0